
/* Use for header  */
.grid-container {
    display: -moz-inline-grid;
    gap: 10px;
    height: 100%;  /* Set the height to 100px */
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
}

/* for summary and navigation */
.half-grid-container {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 10px;
    width: 100%;
    background-color: lightskyblue;
  }

/* for left navigation panel */
.flex-container {
    display: flex;
    margin-top: 200000px;
    width: 50%;
    height: 100%;
  }

.header{
    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    height: min-content;
    grid-column: span 1; /* Makes the header span both columns */
    background-color: #ecba68;
    text-align: center;
    flex-shrink: 0;
}

/* navigation bar flexbox */
.lnav{
    /* turn on flexbox */
    display: flex;
    /* align text */
    flex-grow: 1;
    width: max-content;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: lemonchiffon;
    width: 100%;
    height: 50%;
    grid-column: span 1; /* Makes the navigation span one column */
    margin-top: 200px;
}

.rmain{
    grid-column: span 1; /* Makes the summary span one column */
    margin-top: 200px;
}

/* main container flexbox */
.main{
    /* turn on flexbox */
    display: flex;
    /* vertical display */
    flex-direction: column;
    background-color: lightskyblue;
    grid-column: span 2; /* Makes the main content span both columns */
    padding: 5px;
    margin-bottom: 300px;
}

/* grid layout for skills */
.skills{
    /* set display to grid  */
    display: grid;
    /* one column for all skills */
    grid-template-columns: 1fr;
    /* two rows for all skill groups */
    grid-template-rows: 1fr 1fr;
}

/* grid layout for projects */
.projects{
    /* set display to grid  */
    display: grid;
    /* one column for all projects */
    grid-template-columns: 1fr;
    /* three rows for each project groups */
    grid-template-rows: 3fr;
}

/* main container sections */
.main-contents{
    /* take up as much (or as little) space as possible */
    flex-grow: 1;
    flex-shrink: 1;
}

.footer{
    /* set display to grid  */
    display: grid;
    /* fix the footer position */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: min-content;
    grid-column: span 2; /* Makes the footer span both columns */
    background-color: #ecba68;
    flex-shrink: 0;
}

.click-link{
    color: Black;
    /* turn on flexbox */
    display: flex;
    /* align and style text */
    flex-grow: 3;
    align-items: center;
    font-weight: bold;
}

/* Layout for phones */
@media (max-width: 600px){
    td{
        /* more space between lines */
        line-height:1.5;
        padding: 5px;
    }
}

/* Layout for tablets */
@media (min-width: 600px){
    td{
        /* medium space between lines */
        line-height:1;
        padding: 5px;
    }
}

/* Layout for laptops */
@media (min-width: 992px){
    td{
        /* less space between lines */
        line-height:0.5;
        padding: 10px;
    }
}

/* doesnt work; specialize a skill style */
.specialskill{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.skill:hover{
    transform: scale(150%,150%);
    text-align: center;
    font-weight: bold;
}

/* .image:hover{
    
} */

.imageleft{
    float: left;
    width: 25%;
}

.imagemiddle{
    float: middle;
    width: 25%;
}

.imageright{
    float: right;
    width: 25%;
}

.download:hover{
    transform: scale(120%,120%);
    font-weight: bold;
}